#### 2020-SUMMER-DACON_JEJU 신혜연 데이터 변경 코드(2020.07.11 완성) [데이터 출처]( http://27.101.213.4/ageStatMonth.do )

|선택 목록|고른 항목|
|------|---|
|행정구역 | 전국 |
|등록구분 | 거주자  |
|조회기간 | 월간 [2019.01 - 2020.03] | 
|구분 | 남,여 구분|  
|정렬순서 | 행정기관 코드|  
|연령 구분 단위 | 10세  |

0. 필요한 외부데이터 불러오고 합치기

In [1]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

In [2]:
data = pd.read_csv('C:/Users/USER/Desktop/[2020]/2020 summer/데이콘/jeju_data_ver1/201901-202003.csv')

In [3]:
data1 = pd.read_csv('C:/Users/USER/Desktop/2020 summer dacon/2020_jeju_credit card/data/시도 - 성별 - 연령대 - 인구수 ; 원데이터/201901_201906_연령별인구현황_월간.csv',encoding='cp949')
data2 = pd.read_csv('C:/Users/USER/Desktop/2020 summer dacon/2020_jeju_credit card/data/시도 - 성별 - 연령대 - 인구수 ; 원데이터/201907_201912_연령별인구현황_월간.csv',encoding='cp949')
data3 = pd.read_csv('C:/Users/USER/Desktop/2020 summer dacon/2020_jeju_credit card/data/시도 - 성별 - 연령대 - 인구수 ; 원데이터/202001_202003_연령별인구현황_월간.csv',encoding='cp949')

In [4]:
# 행정구역으로 인덱스화, 전국단위의 행 삭제
data1 = data1.set_index('행정구역', drop = True) ; data1 = data1.drop(['전국  (0000000000)'])
data2 = data2.set_index('행정구역', drop = True) ; data2 = data2.drop(['전국  (0000000000)'])
data3 = data3.set_index('행정구역', drop = True) ; data3 = data3.drop(['전국  (0000000000)'])

In [5]:
# data1, data2 : 전국 시 17 , 성별당 13줄 X 2 X 6개월
# data3 : 전국 시 17 , 성별당 13줄 X 2 X 3개월
print(data1.shape,data2.shape,data3.shape)

(17, 156) (17, 156) (17, 78)

In [6]:
# dataT : 전국 시 17 , 성별당 13줄 X 2 X 15개월
dataT = pd.concat([data1,data2,data3],axis = 1)
dataT.shape

(17, 390)

1. 삭제 대상 : 남/여_거주자_총인구수, 남/여_거주자_연령구간인구수
             : 20s~70s 외
    26 = 13 + 13 : 1,2,3,4,11,12,13 :: 5~10 살아남음
2. 삭제할 거 삭제하고 transpose

In [7]:
col_list=list(range(4,11))
a=13 ; b=13
for i in range(29):
    col_list = col_list + list(range(4+a,11+a))
    a = a + b
col_list ; len(col_list)

210

In [8]:
data_T = dataT.iloc[:,col_list]
data_T.shape

(17, 210)

In [9]:
data_T.head()

,2019년01월_남_거주자_20~29세,2019년01월_남_거주자_30~39세,2019년01월_남_거주자_40~49세,2019년01월_남_거주자_50~59세,2019년01월_남_거주자_60~69세,2019년01월_남_거주자_70~79세,2019년01월_남_거주자_80~89세,2019년01월_여_거주자_20~29세,2019년01월_여_거주자_30~39세,2019년01월_여_거주자_40~49세,...,2020년03월_남_거주자_60~69세,2020년03월_남_거주자_70~79세,2020년03월_남_거주자_80~89세,2020년03월_여_거주자_20~29세,2020년03월_여_거주자_30~39세,2020년03월_여_거주자_40~49세,2020년03월_여_거주자_50~59세,2020년03월_여_거주자_60~69세,2020년03월_여_거주자_70~79세,2020년03월_여_거주자_80~89세
행정구역,,,,,,,,,,,,,,,,,,,,,
서울특별시 (1100000000),"710,604","763,751","772,319","735,605","528,602","295,071","86,628","729,088","764,070","785,882",...,"554,890","307,073","98,132","742,605","742,159","771,783","766,194","619,207","365,565","159,406"
부산광역시 (2600000000),"232,067","228,571","260,427","281,520","230,194","121,325","33,663","209,548","219,635","258,628",...,"240,502","127,450","38,358","206,914","208,720","253,794","294,905","265,830","155,714","70,166"
대구광역시 (2700000000),"177,852","161,255","196,559","208,667","138,887","70,528","22,775","151,115","153,351","202,798",...,"147,659","74,159","25,688","148,919","145,088","196,271","216,982","162,471","96,425","48,303"
인천광역시 (2800000000),"212,563","220,598","248,096","253,826","155,336","73,012","22,351","194,603","207,887","240,466",...,"169,942","77,527","25,034","192,927","199,530","236,861","254,614","173,141","93,569","48,932"
광주광역시 (2900000000),"107,520","100,087","121,330","113,457","68,751","38,167","11,869","97,988","98,283","123,205",...,"73,694","40,027","13,211","99,035","93,157","122,297","117,142","81,000","50,470","24,842"

In [10]:
data_T.rename(index = {"서울특별시  (1100000000)" : '서울',
"부산광역시  (2600000000)" : '부산',
"대구광역시  (2700000000)" : '대구',
"인천광역시  (2800000000)" : '인천',
"광주광역시  (2900000000)" : '광주',
"대전광역시  (3000000000)" : '대전',
"울산광역시  (3100000000)" : '울산',
"세종특별자치시  (3600000000)" : '세종',
"경기도  (4100000000)" : '경기',
"강원도  (4200000000)" : '강원',
"충청북도  (4300000000)" : '충북',
"충청남도  (4400000000)" : '충남',
"전라북도  (4500000000)" : '전북',
"전라남도  (4600000000)" : '전남',
"경상북도  (4700000000)" : '경북',
"경상남도  (4800000000)" : '경남',
"제주특별자치도  (5000000000)" : '제주'
}, inplace = True)
data_T

C:\Users\USER\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,2019년01월_남_거주자_20~29세,2019년01월_남_거주자_30~39세,2019년01월_남_거주자_40~49세,2019년01월_남_거주자_50~59세,2019년01월_남_거주자_60~69세,2019년01월_남_거주자_70~79세,2019년01월_남_거주자_80~89세,2019년01월_여_거주자_20~29세,2019년01월_여_거주자_30~39세,2019년01월_여_거주자_40~49세,...,2020년03월_남_거주자_60~69세,2020년03월_남_거주자_70~79세,2020년03월_남_거주자_80~89세,2020년03월_여_거주자_20~29세,2020년03월_여_거주자_30~39세,2020년03월_여_거주자_40~49세,2020년03월_여_거주자_50~59세,2020년03월_여_거주자_60~69세,2020년03월_여_거주자_70~79세,2020년03월_여_거주자_80~89세
행정구역,,,,,,,,,,,,,,,,,,,,,
서울,"710,604","763,751","772,319","735,605","528,602","295,071","86,628","729,088","764,070","785,882",...,"554,890","307,073","98,132","742,605","742,159","771,783","766,194","619,207","365,565","159,406"
부산,"232,067","228,571","260,427","281,520","230,194","121,325","33,663","209,548","219,635","258,628",...,"240,502","127,450","38,358","206,914","208,720","253,794","294,905","265,830","155,714","70,166"
대구,"177,852","161,255","196,559","208,667","138,887","70,528","22,775","151,115","153,351","202,798",...,"147,659","74,159","25,688","148,919","145,088","196,271","216,982","162,471","96,425","48,303"
인천,"212,563","220,598","248,096","253,826","155,336","73,012","22,351","194,603","207,887","240,466",...,"169,942","77,527","25,034","192,927","199,530","236,861","254,614","173,141","93,569","48,932"
광주,"107,520","100,087","121,330","113,457","68,751","38,167","11,869","97,988","98,283","123,205",...,"73,694","40,027","13,211","99,035","93,157","122,297","117,142","81,000","50,470","24,842"
대전,"112,463","105,926","122,791","119,078","77,359","37,859","12,480","100,519","100,598","123,876",...,"82,589","39,914","13,899","100,196","94,738","120,134","121,037","87,302","48,260","25,195"
울산,"85,137","86,426","97,153","107,174","63,140","24,951","6,018","67,358","78,147","95,509",...,"68,942","26,989","6,971","64,677","73,873","93,016","102,903","67,588","30,344","14,691"
세종,"17,324","28,395","30,549","19,951","11,999","5,597","2,020","16,840","30,065","28,187",...,"13,813","6,174","2,285","17,952","31,417","31,952","20,682","14,022","7,389","4,562"
경기,"913,666","987,205","1,150,096","1,077,853","635,144","316,349","105,014","826,543","944,644","1,118,461",...,"703,738","333,661","117,876","839,952","925,000","1,119,740","1,076,074","713,168","403,905","211,032"
강원,"101,760","90,384","119,630","136,735","102,390","59,787","21,181","79,752","83,130","111,340",...,"112,366","60,017","23,735","78,526","79,969","108,783","129,540","113,454","74,378","44,301"
충북,"110,464","106,987","127,396","138,049","96,792","51,922","19,353","89,411","96,701","118,780",...,"104,968","52,971","21,509","88,079","92,841","116,155","131,806","104,885","65,436","41,981"
충남,"134,858","152,759","175,235","175,376","122,764","72,128","31,678","111,909","133,339","153,249",...,"131,277","75,042","34,142","109,070","126,696","152,381","159,467","132,263","91,625","63,787"
전북,"116,173","105,741","144,256","155,083","113,742","69,766","27,397","100,024","99,443","133,915",...,"120,418","72,229","29,603","97,503","93,732","130,963","145,086","123,702","92,709","59,744"
전남,"112,086","105,902","144,406","168,092","122,505","80,845","30,269","92,950","95,651","124,066",...,"129,811","82,344","33,119","89,581","90,202","121,358","146,018","128,649","107,893","73,070"
경북,"166,837","166,775","206,366","237,791","180,220","100,827","38,668","130,666","148,728","188,838",...,"192,374","104,830","42,631","125,882","140,017","184,332","222,010","196,060","132,811","88,144"
경남,"216,323","226,925","281,587","293,013","200,527","99,048","33,547","175,873","209,713","265,719",...,"216,114","104,819","36,898","170,711","197,939","260,649","284,485","218,619","134,638","83,032"
제주,"42,959","44,016","58,564","55,864","34,076","19,507","6,739","38,507","42,779","53,717",...,"36,950","19,882","7,487","38,428","41,095","53,979","52,587","37,406","24,251","15,379"

In [11]:
data_TT31= np.transpose(data_T)
data_TT31

행정구역,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2019년01월_남_거주자_20~29세,"710,604","232,067","177,852","212,563","107,520","112,463","85,137","17,324","913,666","101,760","110,464","134,858","116,173","112,086","166,837","216,323","42,959"
2019년01월_남_거주자_30~39세,"763,751","228,571","161,255","220,598","100,087","105,926","86,426","28,395","987,205","90,384","106,987","152,759","105,741","105,902","166,775","226,925","44,016"
2019년01월_남_거주자_40~49세,"772,319","260,427","196,559","248,096","121,330","122,791","97,153","30,549","1,150,096","119,630","127,396","175,235","144,256","144,406","206,366","281,587","58,564"
2019년01월_남_거주자_50~59세,"735,605","281,520","208,667","253,826","113,457","119,078","107,174","19,951","1,077,853","136,735","138,049","175,376","155,083","168,092","237,791","293,013","55,864"
2019년01월_남_거주자_60~69세,"528,602","230,194","138,887","155,336","68,751","77,359","63,140","11,999","635,144","102,390","96,792","122,764","113,742","122,505","180,220","200,527","34,076"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020년03월_여_거주자_40~49세,"771,783","253,794","196,271","236,861","122,297","120,134","93,016","31,952","1,119,740","108,783","116,155","152,381","130,963","121,358","184,332","260,649","53,979"
2020년03월_여_거주자_50~59세,"766,194","294,905","216,982","254,614","117,142","121,037","102,903","20,682","1,076,074","129,540","131,806","159,467","145,086","146,018","222,010","284,485","52,587"
2020년03월_여_거주자_60~69세,"619,207","265,830","162,471","173,141","81,000","87,302","67,588","14,022","713,168","113,454","104,885","132,263","123,702","128,649","196,060","218,619","37,406"
2020년03월_여_거주자_70~79세,"365,565","155,714","96,425","93,569","50,470","48,260","30,344","7,389","403,905","74,378","65,436","91,625","92,709","107,893","132,811","134,638","24,251"
2020년03월_여_거주자_80~89세,"159,406","70,166","48,303","48,932","24,842","25,195","14,691","4,562","211,032","44,301","41,981","63,787","59,744","73,070","88,144","83,032","15,379"

3. 행의 인덱스를 열의 인덱스로 세분화하자

지금까지 : 

|행렬|지역|
|------|---|
|년월&성별&연령대|.|

내가 만들고 싶은 거

|행렬|년월|지역|
|------|---|---|
|성별|.|.|
|연령대|.|.|

In [12]:
#201901-201912 list
yearmonth_list = []
for i in range(12):
    a = 201900 + 1 + i
    for j in range(14):
        yearmonth_list.append(a)
        
#202001-202003 list   
for i in range(3):
    a = 202000 + 1 + i
    for j in range(14):
        yearmonth_list.append(a) 
len(yearmonth_list)

210

In [13]:
data_TT22 = data_TT31
data_TT22['년월'] = yearmonth_list
data_TT22.head(20)

행정구역,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,년월
2019년01월_남_거주자_20~29세,"710,604","232,067","177,852","212,563","107,520","112,463","85,137","17,324","913,666","101,760","110,464","134,858","116,173","112,086","166,837","216,323","42,959",201901
2019년01월_남_거주자_30~39세,"763,751","228,571","161,255","220,598","100,087","105,926","86,426","28,395","987,205","90,384","106,987","152,759","105,741","105,902","166,775","226,925","44,016",201901
2019년01월_남_거주자_40~49세,"772,319","260,427","196,559","248,096","121,330","122,791","97,153","30,549","1,150,096","119,630","127,396","175,235","144,256","144,406","206,366","281,587","58,564",201901
2019년01월_남_거주자_50~59세,"735,605","281,520","208,667","253,826","113,457","119,078","107,174","19,951","1,077,853","136,735","138,049","175,376","155,083","168,092","237,791","293,013","55,864",201901
2019년01월_남_거주자_60~69세,"528,602","230,194","138,887","155,336","68,751","77,359","63,140","11,999","635,144","102,390","96,792","122,764","113,742","122,505","180,220","200,527","34,076",201901
2019년01월_남_거주자_70~79세,"295,071","121,325","70,528","73,012","38,167","37,859","24,951","5,597","316,349","59,787","51,922","72,128","69,766","80,845","100,827","99,048","19,507",201901
2019년01월_남_거주자_80~89세,"86,628","33,663","22,775","22,351","11,869","12,480","6,018","2,020","105,014","21,181","19,353","31,678","27,397","30,269","38,668","33,547","6,739",201901
2019년01월_여_거주자_20~29세,"729,088","209,548","151,115","194,603","97,988","100,519","67,358","16,840","826,543","79,752","89,411","111,909","100,024","92,950","130,666","175,873","38,507",201901
2019년01월_여_거주자_30~39세,"764,070","219,635","153,351","207,887","98,283","100,598","78,147","30,065","944,644","83,130","96,701","133,339","99,443","95,651","148,728","209,713","42,779",201901
2019년01월_여_거주자_40~49세,"785,882","258,628","202,798","240,466","123,205","123,876","95,509","28,187","1,118,461","111,340","118,780","153,249","133,915","124,066","188,838","265,719","53,717",201901
2019년01월_여_거주자_50~59세,"773,880","302,291","217,953","253,675","116,310","121,599","102,109","18,633","1,045,258","131,346","131,178","159,878","147,150","148,548","225,397","282,377","51,392",201901
2019년01월_여_거주자_60~69세,"587,471","252,393","152,058","157,903","75,700","81,079","61,601","12,351","646,511","103,626","96,956","124,090","117,370","122,083","183,632","203,444","34,700",201901
2019년01월_여_거주자_70~79세,"350,477","149,221","93,348","90,273","48,545","46,650","28,898","6,925","389,250","75,493","65,825","91,185","92,165","110,386","133,096","132,911","23,980",201901
2019년01월_여_거주자_80~89세,"146,791","64,355","44,305","45,552","23,148","23,575","13,577","4,190","193,801","41,046","39,298","59,920","56,078","68,740","81,730","77,817","14,639",201901
2019년02월_남_거주자_20~29세,"709,843","231,286","177,130","211,887","107,337","112,147","84,639","17,389","912,180","101,191","110,149","134,341","115,558","111,242","165,872","215,332","42,831",201902
2019년02월_남_거주자_30~39세,"762,684","227,785","160,867","220,173","99,916","105,633","86,300","28,701","987,602","90,159","106,879","152,365","105,394","105,584","166,362","226,145","43,956",201902
2019년02월_남_거주자_40~49세,"772,547","260,239","196,283","248,082","121,371","122,586","96,979","30,968","1,150,966","119,230","127,268","175,434","144,106","144,091","206,051","281,392","58,521",201902
2019년02월_남_거주자_50~59세,"736,781","281,431","208,694","254,286","113,721","119,292","107,322","20,226","1,081,494","136,815","138,210","175,960","155,367","168,274","238,153","293,566","56,051",201902
2019년02월_남_거주자_60~69세,"530,306","230,723","139,316","156,155","68,980","77,569","63,501","12,135","639,512","103,070","97,334","123,179","114,091","122,849","180,733","201,252","34,184",201902
2019년02월_남_거주자_70~79세,"296,125","121,868","70,884","73,482","38,293","38,044","25,130","5,632","317,534","59,870","52,047","72,359","69,825","80,917","101,182","99,563","19,574",201902

In [14]:
cols = data_TT31.columns.tolist()
yeah = cols[-1]
del cols[-1]
cols.insert(0,yeah)
data_TT22 = data_TT31[cols]

좀 다르게 생김  
(1) data_TT22  
(2) data_TT22_another

In [15]:
data_TT22
data_TT22_another = data_TT22

In [16]:
거주자성별연령 = ['남 20s', '남 30s', '남 40s', '남 50s', '남 60s','남 70s', '남 80s', '여 20s', '여 30s', '여 40s', '여 50s', '여 60s', '여 70s', '여 80s']
data_TT22['거주자 성별 연령'] = 거주자성별연령*15
data_TT22.head(20)

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

행정구역,년월,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,거주자 성별 연령
2019년01월_남_거주자_20~29세,201901,"710,604","232,067","177,852","212,563","107,520","112,463","85,137","17,324","913,666","101,760","110,464","134,858","116,173","112,086","166,837","216,323","42,959",남 20s
2019년01월_남_거주자_30~39세,201901,"763,751","228,571","161,255","220,598","100,087","105,926","86,426","28,395","987,205","90,384","106,987","152,759","105,741","105,902","166,775","226,925","44,016",남 30s
2019년01월_남_거주자_40~49세,201901,"772,319","260,427","196,559","248,096","121,330","122,791","97,153","30,549","1,150,096","119,630","127,396","175,235","144,256","144,406","206,366","281,587","58,564",남 40s
2019년01월_남_거주자_50~59세,201901,"735,605","281,520","208,667","253,826","113,457","119,078","107,174","19,951","1,077,853","136,735","138,049","175,376","155,083","168,092","237,791","293,013","55,864",남 50s
2019년01월_남_거주자_60~69세,201901,"528,602","230,194","138,887","155,336","68,751","77,359","63,140","11,999","635,144","102,390","96,792","122,764","113,742","122,505","180,220","200,527","34,076",남 60s
2019년01월_남_거주자_70~79세,201901,"295,071","121,325","70,528","73,012","38,167","37,859","24,951","5,597","316,349","59,787","51,922","72,128","69,766","80,845","100,827","99,048","19,507",남 70s
2019년01월_남_거주자_80~89세,201901,"86,628","33,663","22,775","22,351","11,869","12,480","6,018","2,020","105,014","21,181","19,353","31,678","27,397","30,269","38,668","33,547","6,739",남 80s
2019년01월_여_거주자_20~29세,201901,"729,088","209,548","151,115","194,603","97,988","100,519","67,358","16,840","826,543","79,752","89,411","111,909","100,024","92,950","130,666","175,873","38,507",여 20s
2019년01월_여_거주자_30~39세,201901,"764,070","219,635","153,351","207,887","98,283","100,598","78,147","30,065","944,644","83,130","96,701","133,339","99,443","95,651","148,728","209,713","42,779",여 30s
2019년01월_여_거주자_40~49세,201901,"785,882","258,628","202,798","240,466","123,205","123,876","95,509","28,187","1,118,461","111,340","118,780","153,249","133,915","124,066","188,838","265,719","53,717",여 40s
2019년01월_여_거주자_50~59세,201901,"773,880","302,291","217,953","253,675","116,310","121,599","102,109","18,633","1,045,258","131,346","131,178","159,878","147,150","148,548","225,397","282,377","51,392",여 50s
2019년01월_여_거주자_60~69세,201901,"587,471","252,393","152,058","157,903","75,700","81,079","61,601","12,351","646,511","103,626","96,956","124,090","117,370","122,083","183,632","203,444","34,700",여 60s
2019년01월_여_거주자_70~79세,201901,"350,477","149,221","93,348","90,273","48,545","46,650","28,898","6,925","389,250","75,493","65,825","91,185","92,165","110,386","133,096","132,911","23,980",여 70s
2019년01월_여_거주자_80~89세,201901,"146,791","64,355","44,305","45,552","23,148","23,575","13,577","4,190","193,801","41,046","39,298","59,920","56,078","68,740","81,730","77,817","14,639",여 80s
2019년02월_남_거주자_20~29세,201902,"709,843","231,286","177,130","211,887","107,337","112,147","84,639","17,389","912,180","101,191","110,149","134,341","115,558","111,242","165,872","215,332","42,831",남 20s
2019년02월_남_거주자_30~39세,201902,"762,684","227,785","160,867","220,173","99,916","105,633","86,300","28,701","987,602","90,159","106,879","152,365","105,394","105,584","166,362","226,145","43,956",남 30s
2019년02월_남_거주자_40~49세,201902,"772,547","260,239","196,283","248,082","121,371","122,586","96,979","30,968","1,150,966","119,230","127,268","175,434","144,106","144,091","206,051","281,392","58,521",남 40s
2019년02월_남_거주자_50~59세,201902,"736,781","281,431","208,694","254,286","113,721","119,292","107,322","20,226","1,081,494","136,815","138,210","175,960","155,367","168,274","238,153","293,566","56,051",남 50s
2019년02월_남_거주자_60~69세,201902,"530,306","230,723","139,316","156,155","68,980","77,569","63,501","12,135","639,512","103,070","97,334","123,179","114,091","122,849","180,733","201,252","34,184",남 60s
2019년02월_남_거주자_70~79세,201902,"296,125","121,868","70,884","73,482","38,293","38,044","25,130","5,632","317,534","59,870","52,047","72,359","69,825","80,917","101,182","99,563","19,574",남 70s

In [17]:
data_TT22 = data_TT22.set_index('거주자 성별 연령', drop = True)

In [18]:
data_TT22.head(20)

행정구역,년월,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
거주자 성별 연령,,,,,,,,,,,,,,,,,,
남 20s,201901,"710,604","232,067","177,852","212,563","107,520","112,463","85,137","17,324","913,666","101,760","110,464","134,858","116,173","112,086","166,837","216,323","42,959"
남 30s,201901,"763,751","228,571","161,255","220,598","100,087","105,926","86,426","28,395","987,205","90,384","106,987","152,759","105,741","105,902","166,775","226,925","44,016"
남 40s,201901,"772,319","260,427","196,559","248,096","121,330","122,791","97,153","30,549","1,150,096","119,630","127,396","175,235","144,256","144,406","206,366","281,587","58,564"
남 50s,201901,"735,605","281,520","208,667","253,826","113,457","119,078","107,174","19,951","1,077,853","136,735","138,049","175,376","155,083","168,092","237,791","293,013","55,864"
남 60s,201901,"528,602","230,194","138,887","155,336","68,751","77,359","63,140","11,999","635,144","102,390","96,792","122,764","113,742","122,505","180,220","200,527","34,076"
남 70s,201901,"295,071","121,325","70,528","73,012","38,167","37,859","24,951","5,597","316,349","59,787","51,922","72,128","69,766","80,845","100,827","99,048","19,507"
남 80s,201901,"86,628","33,663","22,775","22,351","11,869","12,480","6,018","2,020","105,014","21,181","19,353","31,678","27,397","30,269","38,668","33,547","6,739"
여 20s,201901,"729,088","209,548","151,115","194,603","97,988","100,519","67,358","16,840","826,543","79,752","89,411","111,909","100,024","92,950","130,666","175,873","38,507"
여 30s,201901,"764,070","219,635","153,351","207,887","98,283","100,598","78,147","30,065","944,644","83,130","96,701","133,339","99,443","95,651","148,728","209,713","42,779"
여 40s,201901,"785,882","258,628","202,798","240,466","123,205","123,876","95,509","28,187","1,118,461","111,340","118,780","153,249","133,915","124,066","188,838","265,719","53,717"
여 50s,201901,"773,880","302,291","217,953","253,675","116,310","121,599","102,109","18,633","1,045,258","131,346","131,178","159,878","147,150","148,548","225,397","282,377","51,392"
여 60s,201901,"587,471","252,393","152,058","157,903","75,700","81,079","61,601","12,351","646,511","103,626","96,956","124,090","117,370","122,083","183,632","203,444","34,700"
여 70s,201901,"350,477","149,221","93,348","90,273","48,545","46,650","28,898","6,925","389,250","75,493","65,825","91,185","92,165","110,386","133,096","132,911","23,980"
여 80s,201901,"146,791","64,355","44,305","45,552","23,148","23,575","13,577","4,190","193,801","41,046","39,298","59,920","56,078","68,740","81,730","77,817","14,639"
남 20s,201902,"709,843","231,286","177,130","211,887","107,337","112,147","84,639","17,389","912,180","101,191","110,149","134,341","115,558","111,242","165,872","215,332","42,831"
남 30s,201902,"762,684","227,785","160,867","220,173","99,916","105,633","86,300","28,701","987,602","90,159","106,879","152,365","105,394","105,584","166,362","226,145","43,956"
남 40s,201902,"772,547","260,239","196,283","248,082","121,371","122,586","96,979","30,968","1,150,966","119,230","127,268","175,434","144,106","144,091","206,051","281,392","58,521"
남 50s,201902,"736,781","281,431","208,694","254,286","113,721","119,292","107,322","20,226","1,081,494","136,815","138,210","175,960","155,367","168,274","238,153","293,566","56,051"
남 60s,201902,"530,306","230,723","139,316","156,155","68,980","77,569","63,501","12,135","639,512","103,070","97,334","123,179","114,091","122,849","180,733","201,252","34,184"
남 70s,201902,"296,125","121,868","70,884","73,482","38,293","38,044","25,130","5,632","317,534","59,870","52,047","72,359","69,825","80,917","101,182","99,563","19,574"

In [19]:
data_TT22.shape

(210, 18)

In [20]:
data_TT22.to_csv('C:/Users/USER/Desktop/2020 summer dacon/2020_jeju_credit card/data/시도 - 성별 - 연령대 - 인구수 data.csv',encoding = 'utf-8-sig', index = False)

In [21]:
거주자성별연령 = ['남 20s', '남 30s', '남 40s', '남 50s', '남 60s','남 70s', '남 80s', '여 20s', '여 30s', '여 40s', '여 50s', '여 60s', '여 70s', '여 80s']
data_TT22_another['거주자 성별 연령'] = 거주자성별연령*15
cols = data_TT22_another.columns.tolist()
yeah = cols[-1]
del cols[-1]
cols.insert(0,yeah)
data_TT22_another = data_TT22_another[cols]

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
data_TT22_another

행정구역,거주자 성별 연령,년월,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
2019년01월_남_거주자_20~29세,남 20s,201901,"710,604","232,067","177,852","212,563","107,520","112,463","85,137","17,324","913,666","101,760","110,464","134,858","116,173","112,086","166,837","216,323","42,959"
2019년01월_남_거주자_30~39세,남 30s,201901,"763,751","228,571","161,255","220,598","100,087","105,926","86,426","28,395","987,205","90,384","106,987","152,759","105,741","105,902","166,775","226,925","44,016"
2019년01월_남_거주자_40~49세,남 40s,201901,"772,319","260,427","196,559","248,096","121,330","122,791","97,153","30,549","1,150,096","119,630","127,396","175,235","144,256","144,406","206,366","281,587","58,564"
2019년01월_남_거주자_50~59세,남 50s,201901,"735,605","281,520","208,667","253,826","113,457","119,078","107,174","19,951","1,077,853","136,735","138,049","175,376","155,083","168,092","237,791","293,013","55,864"
2019년01월_남_거주자_60~69세,남 60s,201901,"528,602","230,194","138,887","155,336","68,751","77,359","63,140","11,999","635,144","102,390","96,792","122,764","113,742","122,505","180,220","200,527","34,076"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020년03월_여_거주자_40~49세,여 40s,202003,"771,783","253,794","196,271","236,861","122,297","120,134","93,016","31,952","1,119,740","108,783","116,155","152,381","130,963","121,358","184,332","260,649","53,979"
2020년03월_여_거주자_50~59세,여 50s,202003,"766,194","294,905","216,982","254,614","117,142","121,037","102,903","20,682","1,076,074","129,540","131,806","159,467","145,086","146,018","222,010","284,485","52,587"
2020년03월_여_거주자_60~69세,여 60s,202003,"619,207","265,830","162,471","173,141","81,000","87,302","67,588","14,022","713,168","113,454","104,885","132,263","123,702","128,649","196,060","218,619","37,406"
2020년03월_여_거주자_70~79세,여 70s,202003,"365,565","155,714","96,425","93,569","50,470","48,260","30,344","7,389","403,905","74,378","65,436","91,625","92,709","107,893","132,811","134,638","24,251"
2020년03월_여_거주자_80~89세,여 80s,202003,"159,406","70,166","48,303","48,932","24,842","25,195","14,691","4,562","211,032","44,301","41,981","63,787","59,744","73,070","88,144","83,032","15,379"

In [23]:
data_TT22_another.to_csv('C:/Users/USER/Desktop/2020 summer dacon/2020_jeju_credit card/data/시도-성별-연령대-인구수 data(index).csv',encoding = 'utf-8-sig', index = False)

##############################################

data_TT22_another.head()

data_TT22_another.index.name = "거주자 성별 연령"

data_TT22_another.head()

data_TT22_another['거주자 성별 연령'] = 거주자성별연령*15
data_TT22_another = data_TT22_another.set_index('거주자 성별 연령', drop = True)

data_TT22_another = data_TT22_another.set_index('거주자 성별 연령', drop = True)
data_TT22_another = data_TT22_another.drop(['행정구역'])
data_TT22_another.head()